/* Background styling */
html, body {
    background-color: #121212;
    color: white;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Grid container*/
div.gridWrapper {
    /*padding: 50px;*/
}

/* Grid Cards*/
div.uk-card {
    background: #fff;
    color: #888;
    border-radius: 14px;
    padding: 20px;
}

/* Movie image */
img.movieImage {
    width:122px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}
img.movieImage:hover {
    opacity: 0.7;
}
p.movieTitle {
    width: 125px;
    word-break: break-all;
    white-space: normal;
}
div.movieWrapper {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}
div#scrollWrapper1 {
    overflow-x: auto;
    white-space: nowrap;
    margin: -20px 0px;
}
p.card-title {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    padding: 14px 0 0 14px;
}
#bgImage {
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: auto;

    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}


/************
Movie Details
*************/

div.movieDetails {

}

/* Movie Title */
p.movieTitle-Expanded {
    font-size: 30px;
    margin-left: 20px;
    max-width: 300px;

    position: relative; /* needed for adjustable border (technically)  */
}
/* Add border bottom that goes past margin */
p.movieTitle-Expanded:after {
    content: "";
    background: white;
    position: absolute;
    bottom: 0;
    left: -10px;
    height: 1px;
    width: 100%;
}
/* Movie Year (within title) */
span.movieYear {
    font-size: 16px;
    font-weight: 100;
    margin-left: 10px;
}

/* Movie Rating */
div.movieRating-container {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 3px;
    text-align: center;
    width: 40px;
}
p.movieRating-text {
    font-size: 20px;
    font-weight: 200;

    margin: 0;
}

/* Revenue chart dimensions*/
div#revenue-chart-container {
    width: 800px;
    height: 500px;
}