/* DOM main styling */
/* Entire document*/
html, body {
    /* Style*/
    background-color: rgb(37,37,37);
    color: white;
}
/* Body & footer content (WHY cant this go in the class above?*/
body, footer {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* Grid Cards */
/* ARE WE STILL USING THIS? */
div.uk-card {
    /* Layout */
    border-radius: 14px;
    padding: 20px;
    /* Style */
    background: #fff;
    color: #888;
}

/* MOVIE CAROUSEL */
/* Movie image */
img.movieImage {
    /* Style */
    border-radius: 10px;
    opacity: .7;
    /* Layout */
    width:122px;
    /* Effects */
    cursor: pointer;
    transition: all 0.2s ease;
}
img.movieImage:hover {
    /* Style */
    opacity: 1;
}
p.movieTitle {
    /* Style*/
    width: 125px;
    word-break: break-all;
    white-space: normal;
}
div.movieWrapper {
    /* Style */
    padding: 20px;
    vertical-align: top;
    /* Layout */
    display: -webkit-inline-box;
}
div#scrollWrapper1 {
    /* Style */
    white-space: nowrap;
    /* Layout */
    overflow-x: auto;
}
p.card-title {
    /* Style */
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    padding: 14px 0 0 14px;
}
#bgImage {
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    width: auto;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}


/************
Movie Details
*************/
/* Movie Title */
p.movieTitle-Expanded {
    /* Layout */
    position: relative; /* needed for adjustable border (technically)  */
    max-width: 500px;
    margin-left: 20px;
    /* Style */
    font-size: 30px;
    white-space: pre-wrap;
}
/* Add border bottom that goes past margin */
p.movieTitle-Expanded:after {
    content: "";
    /* Layout */
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    bottom: 0;
    /* Style */
    background: #ffffff;
    opacity: 0.4;
}
/* Movie Year (within title) */
span.movieYear {
    /* Layout */
    margin-left: 10px;
    /* Style */
    font-size: 16px;
    font-weight: 300;
    color: #ffffffa3;
}

/* Movie Rating */
div.movieRating-container {
    /* Layout */
    width: 68px;

    /* display: inline-block; */
    position: absolute;
    right: 38px;
    top: 30px;
    /* Style */
    text-align: center;

    /* margin-left: 100px; */
}
div.movieTextWrapper {
      padding: 6px 3px;
      border: 1px solid #ffffff5c;
      border-radius: 5px;
      margin-bottom: 6px;
}
p.movieRating-text {
    /* Layout */
    margin: 0;
    /* Style*/
    font-size: 22px;
    font-weight: 400;
}

/* AWARDS SECTION */
div#award-content {
    margin: 0 5vw;
}
div.award-container {
    margin: 0 10%;
}
div.icon-value-container {
    /* Layout */
    display: flex;
    margin-bottom: -3.5vh;
}
p.award-value {
    /* Style */
    font-size: 13vh;
    font-weight: 100;

    /* Layout */
    margin: 0;

    /* Position */
    position: relative;
    top: -2.5vh;
}
img.award-img {
    /* Size */
    height: 10vh;
    width: auto;

    /* Layout */
    padding-top: 4px;
    margin-left: 10px;
}
p.award-name {
    margin: 0;
    text-align: center;

    /* Style */
    font-size: 19px;
    font-weight: 200;
    /*letter-spacing: 2px;*/
    letter-spacing: 0.4em;
}

/* BUDGET/REVENUE */
div#percentage-container {
    /* Style */
    border: 1px solid white;
    /* Layout */
    display: flex;
    margin: 2vh 5vw;
}
div#percentage-one {
    /* Style*/
    background-color: white;
    color: black;
    text-align: center;
}
div.percentage-section {
    /* Style */
    font-weight: 100;
    text-align: center;
    font-size: 4vh;
    /* Layout */
    padding: 10px 0;
}

/* Revenue chart dimensions - Might be obselete*/
div#revenue-chart-container {
    /* Layout */
    height: 500px;
    width: 800px;
}

.movieWrapper {
    /* Layout*/
    width: 122px;
    /* Effects*/
    transition: 1s;
}

.wrapperExpanded {
    /* Layout */
      width: 872px;
}

/* Movie Details in scroll */
.inline-movie-details {
    /* Layout */
    height: 0;
    width: 0;
    margin-left: 10px;
    /* Style */
    background-color: rgba(66,66,66,.3);
    border-radius: 6px;
    /* Effects */
    opacity: 0;         /* Hid div until clicked on poster */
    /* transition: 1s; */
    overflow-y: hidden;
    /* padding: 10px; */
}
/* Expanding movie details div */
.detailsExpanded {
    /* Layout */
    height: 100%;
    overflow-y: hidden;
    width: 740px;
    /* Effects */
    opacity: 1;             /* Render visible on click */
    /* transition: 1s;         /* Animation delay */

}

p.details-Overview {
    white-space: pre-wrap;
    /* overflow-x: hidden; */
    padding: 0px 22px;
    font-weight: 300;
    color: #ccc;
    font-size: 16px;
}



/*NEW*/
div.movieTitleWrapper {
  padding-top: 30px;
      /* display: inline-block; */
}
div.movieHeader {
  padding-bottom: 30px;
  padding-left: 32px;
  position: relative;
}
div.overview-container {
  display: inline-block;
      width: 60%;
}
div.movieDetails-container {
  /* padding: 0px 30px; */
    display: inline-block;
    vertical-align: top;
        width: 40%;
        white-space: pre-wrap;
}
div.movieInfo-wrapper {
  padding: 20px 40px 34px 40px;
}
div.readMore {
  text-align: right;
  padding-top: 15px;
}
p.overview-heading, p.movie_details_heading {
    font-size: 22px;
    font-weight: 600;
}
p.overview-heading {
    padding: 0px 22px 22px 22px;
}
p.movie_details_heading {
  padding: 0px 0px 22px 0px;
}
p.movieGenres {
  padding-top: 4px;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
}
p.movieDetails > span:nth-child(1) {
  font-weight: 600;
  font-size: 16px;
}
p.movieDetails > span:nth-child(2) {
  color: #ccc;
}
.simplebar-scrollbar {
     background-color: #444;
     border-radius: 100px;
     margin-left: 2px;

 }
 .simplebar-track{
     background-color: #bbb;
     border-radius: 100px 100px 100px 100px;
     margin: 0px 20px 0px 19px;
 }
 .simplebar-offset {
     top: -15px !important;
 }

/*Mobile*/
@media only screen and (max-width: 600px) {
  #bgImage {
   background-size: 146% !important;
   background-position: center center !important;
   height: 350px;
   background-repeat: repeat-y;
  }
  .wrapperExpanded {
   width: 78vw;
 }
 div.movieDetails-container, div.overview-container {
   display: block;
   width: 100%;
 }
  div.movieDetails-container {
    padding-bottom: 26px;
  }
 p.overview-heading, p.details-Overview {
    padding: 0px;
  }
  p.overview-heading {
    padding-bottom: 20px;
  }
  p.movieTitle-Expanded {
    font-size: 22px;
  }
  div.movieRating-container {
    display: none;
  }
  div.movieHeader {
    padding-left: 0px;
  }
  p.movieGenres {
    font-size: 16px;
    white-space: pre-wrap;
    margin-left: 20px;
  }
  div.movieInfo-wrapper{
    padding: 20px 18px 34px 18px;
  }
  div.detailsExpanded {
    width: 47vw;
  }
}

/* Visualisations */
h2.viz-title {
    /* style */
    font-size: 20px;
    font-weight: 300;

    /* Layout */
    border-bottom: 1px solid #ffffff;
    margin: 10px;
}

/* Footer */
p#footer-text {
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}

/* Helper classes */
.center {
    display: flex;
    justify-content: center;
}