/* DOM main styling */
/* Entire document*/
html, body, footer {
    /* Style*/
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
/**********
Play Button
***********/
div#play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
button#play-btn {
  height: 60px;
  width: 60px;
  /* border: 1px solid red; */
  border-radius: 50%;
  /* background-color: white; */
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: rgb(255, 255, 255);
}
button#play-btn:hover {
  background-color: #b2b2b2;
}

i.videoPlayIcon {
  /* font-size: 60px;
  color: #d8223b;
  height: 80%;
  width: 80%; */
  color: #d8223b;
  padding-left: 3px;
  font-size: 16px;
}

/*************
Popularity chart
*************/
div#popularityRank {
  padding-bottom: 150px;
}


/*************
MOVIE CAROUSEL
*************/
/* Movie image */
img.movieImage {
    /* Style */
    border-radius: 10px;
    opacity: .7;
    /* Layout */
    width: 154px;
    /* Effects */
    cursor: pointer;
    transition: all 0.2s ease;
}

img.movieImage:hover {
    /* Style */
    opacity: 1;
}

p.movieTitle {
    /* Style*/
    width: 125px;
    word-break: break-all;
    white-space: normal;
}

div.movieWrapper {
    /* Style */
    padding: 20px;
    vertical-align: top;
    /* Layout */
    display: -webkit-inline-box;
}

div#trending-movies-container {
    /* Style */
    white-space: nowrap;
    /* Layout */
    overflow-x: auto;
}

p.card-title {
    /* Style */
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    padding: 14px 0 0 14px;
}

#bgImage {
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  width: auto;
  /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  position: relative;
  z-index: 0;
}

#bgImage::before {
  content: "";
  position: absolute;
  z-index: -1;
  /* bottom: 0; */
  left: 0;
  right: 0;
  height: 450px;
  background-color: rgb(37,37,37);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}


/************
Movie Details
*************/
/* All individual movie details container*/
.movieWrapper {
    /* Layout*/
    width: 136px;
    /* Effects*/
    transition: 1s;
}

/* Toggle for currently selecetd movie */
.wrapperExpanded {
    /* Layout */
    width: 904px;
}

/* Movie Details in scroll */
.inline-movie-details {
    /* Layout */
    height: 0;
    width: 0;
    margin-left: 10px;
    /* Style */
    background-color: rgba(66, 66, 66, .3);
    border-radius: 6px;
    /* Effects */
    opacity: 0; /* Hid div until clicked on poster */
    /* transition: 1s; */
    overflow-y: hidden;
    /* padding: 10px; */
}

/* Expanding movie details div */
.detailsExpanded {
    /* Layout */
    height: 100%;
    overflow-y: hidden;
    width: 755px;
    /* Effects */
    opacity: 1; /* Render visible on click */
    /* transition: 1s;         /* Animation delay */
}

div.movieHeader {
    padding-bottom: 30px;
    padding-left: 32px;
    position: relative;
}

/* Movie Title */
p.movieTitle-Expanded {
    /* Layout */
    position: relative; /* needed for adjustable border (technically)  */
    max-width: 500px;
    /* margin-left: 20px; */
    /* Style */
    font-size: 30px;
    white-space: pre-wrap;
}

/* Add border bottom that goes past margin */
/* p.movieTitle-Expanded:after {
    content: "";

    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    bottom: 0;

    background: #ffffff;
    opacity: 0.4;
} */
/* Movie Year (within title) */
span.movieYear {
    /* Layout */
    margin-left: 10px;
    /* Style */
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #6c5ce7;
    padding: 3px 7px;
    border-radius: 4px;
    cursor: pointer;
}

/* Movie Rating */
div.movieRating-container {
    /* Layout */
    width: 68px;

    /* display: inline-block; */
    position: absolute;
    right: 38px;
    top: 30px;
    /* Style */
    text-align: center;

    /* margin-left: 100px; */
}

div.movieTextWrapper {
    padding: 6px 6px;
    /* border: 1px solid #ffffff5c; */
    border-radius: 38px;
    margin-bottom: 6px;
    color: white;
    background-image: linear-gradient(-20deg, #da6f7e 0%, #ff9a44 100%);
    cursor: pointer;
}

p.movieRating-text {
    /* Layout */
    margin: 0;
    /* Style*/
    font-size: 22px;
    font-weight: 700;
}

p.details-Overview {
    white-space: pre-wrap;
    padding: 0 22px;
    font-weight: 300;
    color: #ccc;
    font-size: 16px;
}

div.movieTitleWrapper {
    padding-top: 30px;
}

div.overview-container {
    display: inline-block;
    width: 60%;
}

div.movieDetails-container {
    /* padding: 0px 30px; */
    display: inline-block;
    vertical-align: top;
    width: 40%;
    white-space: pre-wrap;
}

div.movieInfo-wrapper {
    padding: 14px 40px 34px 40px;
}

div.readMore {
    text-align: right;
    padding-top: 15px;
}

p.overview-heading, p.movie_details_heading {
    font-size: 22px;
    font-weight: 600;
}

p.overview-heading {
    padding: 0 22px 22px 22px;
}

p.movie_details_heading {
    padding: 0 0 22px 0;
}

p.movieGenres {
    padding-top: 4px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
}

p.movieDetails > span:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
}

p.movieDetails > span:nth-child(2) {
    color: #ccc;
}

.simplebar-scrollbar {
    background-color: #444;
    border-radius: 100px;
    margin-left: 2px;

}

.simplebar-track {
    background-color: #bbb;
    border-radius: 100px 100px 100px 100px;
    margin: 0 20px 0 19px;
}

.simplebar-offset {
    top: -15px !important;
}

/*************
AWARDS SECTION
*************/
div#award-content {
    margin: 0 5vw;
}

div.award-container {
    margin: 0 8%;
}

div.icon-value-container {
    /* Layout */
    display: flex;
    margin-bottom: -3.5vh;
}

p.award-value {
    /* Style */
    font-size: 12vh;
    font-weight: 300;
    /* Layout */
    margin: 0;
    /* Position */
    position: relative;
    top: -2.5vh;
}

img.award-img {
    /* Size */
    height: 9vh;
    width: auto;
    /* Layout */
    padding-top: 4px;
    margin-left: 10px;
}

p.award-name {
    /* Style */
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 0.4em;
    text-align: center;
    text-transform: uppercase;
    /* Layout */
    margin: 0;
}

div#movieAwards {
    padding-bottom: 40px;
}

div#budgetRevenue {
    padding-bottom: 30px;
}

/*************
BUDGET/REVENUE
*************/
div#percentage-container {
    /* Style */
    /* border: 1px solid white; */
    /* Layout */
    display: flex;
    margin: 2vh 5vw;
}

div#percentage-one {
    /* Style*/
    background-color: #2d287c;
    color: white;
    text-align: center;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

div#percentage-two {
    /* Style*/
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

div.percentage-section {
    /* Style */
    font-weight: 400;
    text-align: center;
    font-size: 4vh;
    /* Layout */
    padding: 10px 44px 10px 11px;
    background-color: #6c5ce7;
}

/*************
FILM LOCATIONS
*************/
div#filmLocations {

}

div#film-map {
    min-height: 40vh;
    /*overflow: hidden;*/
}

/************
GENDER DIVIDE
************/
h2#gender-title:after {
    width: 65%;
}
div#gender-chart-label {
    display: inline-block;
    font-style: inherit;
    font-size: 22px;
}
div#gender-chart-label > span:nth-child(1) {
    background-color: rgba(122, 95, 208, 1);
}
div#gender-chart-label > span:nth-child(2) {
    background-color: rgba(255, 92, 108, 1);
}
span.g-title {
    font-style: inherit;
    font-size: inherit;
    padding: .2em 1em;
    border-radius: 6px;
    text-align: center;
}

div#gender-full-container {
    flex-direction: column;
}
div#gender-chart-container {
    position: relative;
    width: 35vw;
    height: 35vh;
    margin: 0 auto;
}
div.legend-container {
    margin-bottom: 10px;
}
div.legend-content {
    display: inline-block;
    font-size: 20px;
}
div#legend-txt-female {
    border-right: 1px solid white;
    width: 49%;
    text-align: right;
    padding-right: 1%;
    color: rgba(255,255,255,.6);
}
div#legend-txt-male {
    padding-left: 1%;
}
div#gender-chart-legend {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    padding-left: 7px;
}



/*************
Visualisations
*************/
h2.viz-title {
    /* style */
    font-size: 30px;
    font-weight: 400;

    /* Layout */
    margin: 40px 20px 48px 20px;
    position: relative;
}

h2.viz-title:after {
    content: '';
    height: 1px;
    width: 40%;
    position: absolute;
    left: -10px;
    bottom: -16px;
    /* Style */
    background: #ffffff;
    opacity: 0.4;
}

/***************
LOADER ANIMATION
***************/
/* Main Loader animation*/
div.loader {
    /* Style */
    border: 10px solid rgba(50,50,50,1);
    border-top: 10px solid white;
    border-radius: 50%;
    /* Layout*/
    width: 70px;
    height: 70px;
    margin: 5% 15%;
    /* Animation */
    animation: spin 2s cubic-bezier(.1, .7,.2,.1) infinite;
}
/* When class is active, remove padding of divs*/
.loader:not(#f) {
    padding-bottom: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*****************
Poster Placeholder
*****************/
div.poster-placeholder {
    width: 154px;
    height: 231px;
    border-radius: 10px;
    background-color: #444444;

    display: flex;
    justify-content: center;
}
div.poster-load-animation {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;

    align-self: center;

    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*****
FOOTER
*****/
p#footer-text {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

/*************
HELPER CLASSES
*************/
.center {
    display: flex;
    justify-content: center;
}

.inline {
    display: inline-block;
    width: 45vw;
    height: 60vh;
    vertical-align: top;
}

/*************
STICKY HEADER
*************/
div#stickyHeader {
    position: fixed;
    /* bottom:0;
    right:0; */
    z-index: 999999999;
    display: none;
    background: #2E2E2E; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    background: linear-gradient(to right, #4389A2, #5C258D);  */
    border-bottom: 2px solid #ff9a44;
    cursor: pointer;
    width: 100%;
    height: 135px;
}

img.movie-img-sticky {
    height: 100px;
    margin: 18px 35px 16px 35px;
    border-radius: 4px;
    position: absolute;
}

p.movie-title-sticky {
    margin: 26px 36px 4px 125px;
    font-size: 20px;
    font-weight: 600;

}

p.movie-genres-sticky {
    margin: 0px 36px 6px 125px;
    font-size: 16px;
    font-weight: 400;
}

p.movie-release-sticky {
    margin: 6px 36px 15px 125px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #6054bd;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 42px;
}

div.movie-rating-wrapper-sticky {
    position: absolute;
    right: 80px;
    top: 48px;
    color: white;
    background-image: linear-gradient(-20deg, #da6f7e 0%, #ff9a44 100%);
    padding: 8px 20px;
    border-radius: 38px;
}

p.movie-rating-sticky {
    font-size: 21px;
    font-weight: 500;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 700px) {
    #bgImage {
        background-size: 146% !important;
        background-position: center center !important;
        height: 350px;
        background-repeat: repeat-y;
    }

    .wrapperExpanded {
        width: 85vw;
    }

    div.movieDetails-container, div.overview-container {
        display: block;
        width: 100%;
    }

    div.movieDetails-container {
        padding-bottom: 26px;
    }

    p.overview-heading, p.details-Overview {
        padding: 0;
    }

    p.overview-heading {
        padding-bottom: 20px;
    }

    p.movieTitle-Expanded {
        font-size: 22px;
    }

    div.movieRating-container {
        display: none;
    }

    div.movieHeader {
        padding-left: 0;
    }

    p.movieGenres {
        font-size: 16px;
        white-space: pre-wrap;
        margin-left: 20px;
    }

    p.movieTitle-Expanded {
        margin-left: 20px;
    }

    div.movieInfo-wrapper {
        padding: 20px 18px 34px 18px;
    }

    div.detailsExpanded {
        width: 47vw;
    }

    div#award-content {
        margin: 0;
    }

    div.award-container {
        margin: 0 10px;
        display: block;
        padding: 27px 0;
    }

    p.award-value {
        font-size: 10vh;
    }

    img.award-img {
        height: 7vh;
    }

    p.award-name {
        font-size: 16px;
    }

    div.center {
        display: block;
    }

    div.icon-value-container {
        justify-content: center;
    }

    div.percentage-section {
        font-size: 16px;
        padding: 21px 51px 21px 12px;
        font-weight: 600;
    }

    h2.viz-title {
        font-size: 26px;
    }

    p.movie-title-sticky {
        margin: 26px 36px 0px 125px;
    }

    p.movie-release-sticky {
        margin: 8px 36px 6px 125px;
    }

    div.movie-rating-wrapper-sticky {
        display: none;
    }
    div#gender-chart-container {
        width: 100vw;
    }
    p#footer-text {
        font-size: 12px;
    }
    div.legend-container {
        width: 100vw;
    }
    div#filmLocations {
        margin: 0 auto;
    }
    div#gender-chart-label {
        margin-top: 5px;
    }
    .inline {
        display: block;
        width: 90vw;
        height: 90%;
    }
    div.loader {
        margin: 5% auto;
    }
}
